**Python Practice questions for Data Science**

**1. User will input (3ages).Find the eldest one**

In [1]:
Age1 = int(input("Enter First age: "))
Age2 = int(input("Enter Second age: "))
Age3 = int(input("Enter Third age: "))
if Age1>=Age2 and Age1>=Age3:
  print(Age1,"is eldest")
elif Age2>=Age1 and Age2>=Age3:
  print(Age2,"is the eldest")
else:
  print(Age3,"is the eldest")

Enter First age: 22
Enter Second age: 19
Enter Third age: 18
22 is eldest

**2. Write a program that will convert celsius value to fahrenheit**

In [2]:
def celsius_to_fahr(val):
  fahrenheit = (val*(9/5)+32)
  print(fahrenheit)
celsius_to_fahr(32)

89.6

**3. User will input (2numbers).Write a program to swap the numbers**

In [3]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print("Before swapping: a=",a,'b=3',b)
a,b = b,a
print("After swapping: a=", a ,"b=",b)

Enter the first number: 5
Enter the second number: 8
Before swapping: a= 5 b=3 8
After swapping: a= 8 b= 5

**4. Write a program that will give you the sum of 3 digits**

In [4]:
num = int(input("Enter the 3 digit number: "))

digit1 = num//100
digit2 = (num//10)%10
digit3 = num%10

sum = digit1 + digit2 + digit3
print("Sum of digits are: ",sum)

Enter the 3 digit number: 678
Sum of digits are:  21

**5. Write a program that will reverse a four digit number.Also it checks whether the reverse is true.**

In [5]:
# take input from the user
num = int(input("enter the four digit number: "))

#reverse the digits
digit1 = num%10
digit2 = (num//10)%10
digit3 = (num//100)%10
digit4 = num//1000

reverse = digit1*1000 + digit2*100 + digit3*10 + digit4

#Check if the reverse is true
if reverse == num:
  print(num,"is palindrome")
else:
  print(num,"is not palindrome")

#print the reversed number
print("The reversed number is: ", reverse)

enter the four digit number: 7896
7896 is not palindrome
The reversed number is:  6987

**6. Write a program that will tell whether the number entered by the user is odd or even**

In [6]:
#take input from user
num = int(input("Enter the number: "))

#Check if the number is even or not
if num%2==0:
  print(num,"is even")
else:
  print(num,"is odd")

Enter the number: 765
765 is odd

**7. Write a program that will tell whether the given year is a leap year or not**

In [7]:
# take input from user
year = int(input("Enter  the year: "))

#Check leap year or not
if (year%400 == 0 or ((year%100 !=0) and (year%4 == 0))):
  print(year,"is a leap year")
else:
  print(year,'is not a leap year')

Enter  the year: 2020
2020 is a leap year

**8. Write a program to find the euclidean distance between two coordinates.**

In [8]:
import math

#take input from user
x1 = float(input("Enter the x co-ordinate of 1st point: "))
y1 = float(input("Enter the y co-ordinate of 1st point: "))
x2 = float(input("Enter the x co-ordinate of 2nd point: "))
y2 = float(input("Enter the x co-ordinate of 2nd point: "))

#calculate Euclidean distance
d = math.sqrt((x2-x1)**2 + (y2-y1)**2)

#print the result
print("Euclidean distance between the given points are: ",d)

Enter the x co-ordinate of 1st point: 6
Enter the y co-ordinate of 1st point: 7
Enter the x co-ordinate of 2nd point: 3
Enter the x co-ordinate of 2nd point: 8
Euclidean distance between the given points are:  3.1622776601683795

**9. Write a program that take a user input of three angles and will find out whether it can form a triangle or not**

In [9]:
#take the input from the user
ang1 = float(input("Enter 1st angle: "))
ang2 = float(input("Enter the 2nd angle: "))
ang3 =float(input("Enter the 3rd angle: "))

#check if angles can form a triangle
if (ang1 + ang2 + ang3)==180:
  print("The angles can form a triangle")
else:
  print("The angles cannot form a triangle")

Enter 1st angle: 50
Enter the 2nd angle: 50
Enter the 3rd angle: 80
The angles can form a triangle

**10. Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit**

In [10]:
#Take input from user
cost_price = float(input("Enter the cost price: "))
sell_price = float(input("Enter the selling price: "))

#Check loss or profit
if sell_price > cost_price:
  print("Profit")
else:
  print("loss")

Enter the cost price: 5678
Enter the selling price: 7896
Profit

**11. Write a program to find the simple interest when the value of principle,rate of interest and time period is given.**

In [11]:
#Take the input from the user
P = float(input("Enter the value of Principle: "))
R = float(input("Enter the value of Rate: "))
T = float(input("Enter the time: "))

#Calculate Simple Interest
SI = (P*R*T)/100

#print the result
print("Simple interest: ",SI)

Enter the value of Principle: 50000
Enter the value of Rate: 3
Enter the time: 1
Simple interest:  1500.0

**12. Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.**

In [12]:
#Take the input from user
h = float(input("Enter the height of the cylinder: "))
r = float(input("Enter the radius of the cylinder: "))

import math

#Calculate volume
vol = math.pi*(r**2)*h

#Calculate cost of milk
cost = vol*40

print("Volume of the cylinder: ",vol)
print("Cost of the milk: ",cost)

Enter the height of the cylinder: 7
Enter the radius of the cylinder: 4
Volume of the cylinder:  351.85837720205683
Cost of the milk:  14074.335088082273

**13 Write  a program that will tell whether the given number is divisible by 3 & 6**

In [13]:
num = int(input("Enter the number: "))

if num%3==0 and num%6==0 :
  print("Number is divisible by 3&6")
else:
  print("Not divisible by 3&6")

Enter the number: 6
Number is divisible by 3&6

**14. Write a program that will determine weather when the value of temperature and humidity is provided by the user.**

TEMPERATURE(C)                      HUMIDITY(%)            WEATHER

      >= 30                             >=90                Hot and Humid
      >= 30                             < 90                 Hot
      <30                                >= 90               Cool and Humid
      <30                                 <90                 Cool

In [14]:
temp = float(input("Enter the temperature: "))
hum = float(input("Enter the humidity: "))

if temp>=30 and hum>=90:
  print("Weather is Hot and Humid")
elif temp>=30 and hum<90:
  print("Weather is Hot")
else:
  print("weather is Cool")

Enter the temperature: 650
Enter the humidity: 56
Weather is Hot

**15. Write a program that will take three digits from the user and add the 
square of each digit.**

In [15]:
num = input("Enter the three digit number: ")

digits = [int(i) for i in num]

sum_of_squares = digits[0]**2 + digits[1]**2 + digits[2]**2

print("Sum of square of digits are: ",sum_of_squares)

Enter the three digit number: 456
Sum of square of digits are:  77

**16. Write a program that will check whether the number is armstrong number or not.**

In [16]:

def check_armstrong(n):
  n_str = str(n)
  length = len(n_str)
  sum = 0
  for i in n_str:
    sum+=int(i)**length
  if sum==n:
    print(n,"is armstrong")
  else:
    print(n,"is not armstrong")
check_armstrong(153)

153 is armstrong

**17. Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(20< _   – 30%)(0-1lakh print k)**

In [17]:
salary = int(input("Enter your salary: "))

# calculate HRA, DA, and PF
hra = 0.1 * salary
da = 0.05 * salary
pf = 0.03 * salary

# calculate total deductions
total_deductions = hra + da + pf

# calculate taxable income
taxable_income = salary - total_deductions

# calculate tax
if 0 <= taxable_income <= 100000:
    tax = 0
elif 100000 < taxable_income <= 500000:
    tax = 0.1 * taxable_income
elif 500000 < taxable_income <= 1000000:
    tax = 0.2 * taxable_income
else:
    tax = 0.3 * taxable_income

# calculate in-hand salary
in_hand_salary = salary - total_deductions - tax

# print the results
print("HRA: {:.2f}".format(hra))
print("DA: {:.2f}".format(da))
print("PF: {:.2f}".format(pf))
print("Total Deductions: {:.2f}".format(total_deductions))
print("Taxable Income: {:.2f}".format(taxable_income))
print("Tax: {:.2f}".format(tax))
print("In-hand Salary: {:.2f}".format(in_hand_salary))

Enter your salary: 500000
HRA: 50000.00
DA: 25000.00
PF: 15000.00
Total Deductions: 90000.00
Taxable Income: 410000.00
Tax: 41000.00
In-hand Salary: 369000.00

**18. Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.**

In [18]:
heads = int(input("Enter the total number of heads: "))
legs = int(input("Enter the total number of legs: "))

# Calculate the number of chickens
chickens = (4 * heads - legs) // 2

# Calculate the number of dogs
dogs = heads - chickens

# Display the results
print("Number of chickens: ", chickens)
print("Number of dogs: ", dogs)

Enter the total number of heads: 4
Enter the total number of legs: 8
Number of chickens:  4
Number of dogs:  0

**19. Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55**

In [19]:
n = int(input("Enter the number: "))
sum = 0
for i in range(n+1):
  sum+=i
print("Sum of the numbers upto",n,"are",sum)

Enter the number: 8
Sum of the numbers upto 8 are 36

**20. Write a program that can multiply 2 numbers provided by the user without using the product**

In [20]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

product = 0

#add num1 to itself upto num2 times to get the product
for i in range(1,num2+1):
  product+=num1

#Display the number
print("product of",num1,"and",num2,"are",product)

Enter the first number: 56
Enter the second number: 3
product of 56 and 3 are 168

**21. Write a program that can find the factorial of a given number provided by the user**

In [21]:
num = int(input("Enter the number:"))

f = 1

#calucate factorial
for i in range(1,num+1):
  f*=i
print("Factorial of",num,"is",f)

Enter the number:8
Factorial of 8 is 40320

**22. Write a program to print whether a given number is prime number or not**

In [22]:
num = int(input("Enter the number: "))

if num>1:
  for i in range(2,num):
    if num%i ==0:
      print(num,"is not prime")
      break
  else:
      print(num,"is prime")
else:
    print(num,'is not prime')

Enter the number: 8
8 is not prime

**23. Print all the armstrong numbers in the range of 100 to 1000**

In [23]:
for num in range(100,1001):
  num_str = str(num)
  length = len(num_str)

  sum = 0

  
  for i in num_str:
    sum+= int(i)**length

  if sum==num:
    print(num)

153
370
371
407

**24. The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
10th year - 10000
9th year - 9000
8th year - 8100 and so on**

In [24]:
population = 10000

for year in range(10, 0, -1):
    print(f"{year}th year - {int(population)}")
    population -= (0.1*population)

10th year - 10000
9th year - 9000
8th year - 8100
7th year - 7290
6th year - 6561
5th year - 5904
4th year - 5314
3th year - 4782
2th year - 4304
1th year - 3874

**25. Write a program to print all the unique combinations of 1,2,3 and 4**

In [25]:
import itertools

numbers = [1, 2, 3, 4]

for r in range(1, len(numbers) + 1):
    for combination in itertools.combinations(numbers, r):
        print(combination)

(1,)
(2,)
(3,)
(4,)
(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)
(1, 2, 3)
(1, 2, 4)
(1, 3, 4)
(2, 3, 4)
(1, 2, 3, 4)

**26. User will provide 2 numbers you have to find the HCF of those 2 numbers**

In [26]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1>num2:
  min = num2
else:
  min = num1

for i in range(1,min+1):
  if (num1%i==0) and (num2%i==0):
    hcf = i
print("The HCF of these two numbers are: ",hcf)

Enter the first number: 15
Enter the second number: 5
The HCF of these two numbers are:  5

**27. User will provide 2 numbers you have to find the by LCM of those 2 numbers**

In [27]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if num1>num2:
  max = num1
else:
  max = num2

while(True):
  if ((max%num1==0) and (max%num2==0)):
    break
  max+=1
print("The LCM of these two numbers are",max)

Enter first number: 6
Enter second number: 4
The LCM of these two numbers are 12

**28. Print first 25 prime numbers**

In [85]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

count = 0
num = 2
while count < 25:
    if is_prime(num):
        print(num)
        count += 1
    num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

**29.Print the first 20 numbers of a Fibonacci series**

In [86]:
def fibonacci(n):
    sequence = []
    if n >= 1:
        sequence.append(0)
    if n >= 2:
        sequence.append(1)
    for i in range(2, n):
        sequence.append(sequence[i-1] + sequence[i-2])
    return sequence

fib_sequence = fibonacci(20)
for num in fib_sequence:
    print(num)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

**30. Write a program to find the compound interest**

In [31]:
def compound_interest(principal, rate, time):
    # Calculate compound interest
    amount = principal * (1 + rate/100) ** time
    interest = amount - principal
    
    Total_amount = amount + interest
   
    # Print results
    print("Total amount:", amount)

# Example usage
compound_interest(10000, 5, 3)

Total amount: 11576.250000000002

**31. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

In [32]:
n = int(input("Enter the value of n: "))

nn = n*10 + n
nnn = n*1000 + nn

result = n + nn + nnn

print("The value is: ",result)

Enter the value of n: 6
The value is:  6138

**32. Write a program to print the following pattern**

In [33]:
n = int(input())
for i in range(1,n+1):
  print('*'*i)

5
*
**
***
****
*****

**33. Write  a program to print the following pattern**

In [84]:
n = int(input())
for i in range(1,n+1):
  print(('* '*i).center(50,' '))

5
                        *
                       * *
                      * * *
                     * * * *
                    * * * * *

**34. Write a program to print the following pattern**

In [34]:
def print_pattern(n):
    for i in range(1, n + 1):
        line = ""
        for j in range(1, i + 1):
            line += str(j) + " "
        for j in range(i - 1, 0, -1):
            line += str(j) + " "
        print(line.strip())

n = 5
print_pattern(n)

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

**35. Write a program to print the following pattern**

In [35]:
def print_pattern(n):
    num = 1
    for i in range(1, n + 1):
        line = ""
        for j in range(i):
            line += str(num) + " "
            num += 1
        print(line.strip())

n = 4
print_pattern(n)

1
2 3
4 5 6
7 8 9 10

**36. Write a program to calculate the sum of the following series till the nth term
1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
n will be provided by the user**

In [36]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
def sum_of_series(n):
  sum = 0
  for i in range(1,n+1):
    term = i/factorial(i)
    sum+=term
  return sum
n = int(input('Enter the number: '))
result = sum_of_series(n)
print("Sum of the series are: ",result)

Enter the number: 7
Sum of the series are:  2.7180555555555554

**37. Write a Python Program to Find the Sum of the Series till the nth term: 
1 + x^2/2 + x^3/3 + … x^n/n
n will be provided by the user**

In [37]:
n = int(input("Enter the number: "))
x = int(input("Enter the value of x: "))
sum = 1
for i in range(1,n+1):
  sum+= (x**i)/i
print("Sum of the series are: ",sum)

Enter the number: 6
Enter the value of x: 2
Sum of the series are:  28.733333333333334

**38. The natural logarithm can be approximated by the following series.
      (x-1/x) + 1/2 * (x-1/x)^2 + 1/2 *(x-1/x)^3+....
If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.**

In [38]:
x = int(input("Enter the value of x: "))
term = (x-1/x)
sum = 0
for i in range(1,8):
  sum+=(1/2)*(term**i)
  sum
print("Sum of the first seven terms are: ",sum)

Enter the value of x: 2
Sum of the first seven terms are:  24.12890625

**39.  Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.**

In [ ]:
numbers = []
while True:
    num = int(input("Enter a number (enter 0 to stop): "))
    if num == 0:
        break
    numbers.append(num)

sum_numbers = sum(numbers)
average = sum_numbers / len(numbers)

print("Sum:", sum_numbers)
print("Average:", average)

**40 Write a program that accepts 2 numbers from the user a numerator and a denominator and then simplifies it
Eg if the num = 5, den = 15 the answer should be ⅓
Eg if the num = 6, den = 9 the answer should be ⅔**

In [41]:
def gcd(a, b):
    # Find the greatest common divisor (GCD) of two numbers
    while b:
        a, b = b, a % b
    return a

def simplify_fraction(numerator, denominator):
    # Simplify the fraction by dividing both numerator and denominator by their GCD
    greatest_common_divisor = gcd(numerator, denominator)
    simplified_num = numerator // greatest_common_divisor
    simplified_den = denominator // greatest_common_divisor
    return simplified_num, simplified_den

# Get numerator and denominator from the user
num = int(input("Enter the numerator: "))
den = int(input("Enter the denominator: "))

# Simplify the fraction
simplified_num, simplified_den = simplify_fraction(num, den)

# Print the simplified fraction
print(f"The simplified fraction is {simplified_num}/{simplified_den}")

Enter the numerator: 6
Enter the denominator: 8
The simplified fraction is 3/4

**41. Find the length of a given string without using the len() function.**

In [42]:
def str_len(in_str):
  count=0
  for i in in_str:
    count+=1
  return count

str_len("Intelligence")

12

**42. Extract username from a given email. 
Eg if the email is sonalithakur196@gmail.com then the username should be nitish24singh**

In [43]:
def extract_name(email):
  #split the email at '@' symbol
  parts = email.split('1')
  username = parts[0]
  print(username)



extract_name('sonalithakur196@gmail.com')

sonalithakur

**43. Count the frequency of a particular character in a provided string. Eg 'hello how are you' is the string, the frequency of h in this string is 2.**

In [44]:
def count_freq(in_str,char):
  count = 0
  for i in in_str:
    if i==char:
      count+=1
  return count
count_freq( 'hello how are you','h')

2

**44. Find the index position of a particular character in another string.**

In [45]:
def calculate_ind(in_str,char):
  in_str = ' '.join(in_str)
  l = in_str.split()
  for i in l:
    if i==char:
      ind = l.index(i)
  return ind
calculate_ind('Hippopotamus','i')

1

**45. Count the number of vowels in a string provided by the user.**

In [46]:
def count_vow(in_str):
  vow = ['a','e','i','o','u']
  in_str = in_str.lower()
  count=0
  for i in in_str:
    if i in vow:
      count+=1
  return count
count_vow("Terminate the loop")

7

**46. Write a program which can remove a particular character from a string.**

In [47]:
def remove_char(in_str,char):
  new_str = in_str.replace(char,"")
  return new_str
remove_char("Hippopotamus",'p')

'Hiootamus'

**47. Write a program that can check whether a given string is palindrome or not.**

In [48]:
def check_pallindrome(in_str):
  in_str = in_str.replace(" ",'').lower()
  out_str = in_str[::-1]
  if in_str == out_str:
    return True
  else:
    return False
check_pallindrome("racecar")

True

**48. Write a python program to remove all the duplicates from a list**

In [49]:
def remove_duplicate(in_list):
  new_list= set(in_list)
  return list(new_list)
remove_duplicate([2,7,2,9,0,5,2,3,6,7])

[0, 2, 3, 5, 6, 7, 9]

**49. Write a python program to convert a string to title case without using the title()**

In [50]:
def convert_to_title(in_str):
  words = in_str.split()
  title = []
  for i in words:
    title.append((i[0].upper())+(i[1:]))
  title = ' '.join(title)
  return title
convert_to_title('mathematics')

'Mathematics'

**50. Write a python program to find the max item from a list without using the max function**

In [51]:
def max_item(in_list):
  out_str = sorted(in_list)
  return out_str[-1]
max_item([3,8,9,0,4,1])

9

**51. Write a python program to reverse a list**

In [52]:
def rever_list(in_list):
  return in_list[::-1]
rever_list(['apple','boy','cat','dog','egg','fish','goat'])

['goat', 'fish', 'egg', 'dog', 'cat', 'boy', 'apple']

**52. Write a python program to search a given number from a list**

In [53]:
def search_num(in_list,num):
  for i in in_list:
    if i==num:
      return num
search_num([1,6,9,3,2,0],0)

0

**53.Write a program that can create a new list from a given list where each item in the new list is square of the item of the old list**

In [54]:
def sqar_list(in_list):
  new_list = []
  for i in in_list:
    new_list.append(i**2)

  return new_list
sqar_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

**54.Write a program that can reverse words of a given string.
Eg if the input is Hello how are you
Output should be you are how Hello**

In [55]:
in_str = 'Hello how are you'
in_str  =  in_str.split()
new_str = in_str[::-1]
print(' '.join(new_str))

you are how Hello

**55.Write a program that can count the number of words in a given string**

In [57]:
in_str = input("Eter the string: ")
new_str = in_str.split(' ')
print("Number of words in a string: ",len(new_str))

Eter the string: fghty
Number of words in a string:  1

**56.Write a program to check if a list is in ascending order or not**

In [56]:
def check_asc(in_list):
  new_list = sorted(in_list)
  if in_list == new_list:
    return True
  else:
    return False
check_asc([5,4,3,2,1])

False

**57. Create 2 lists from a given list where 1st list will contain all the odd numbers from the original list and the 2nd one will contain all the even numbers**

In [58]:
def create_2list(in_list):
  l1 = [i for i in in_list if i%2!=0]
  l2 = [i for i in in_list if i%2==0]
  print("List of odd numbers",l1)
  print("List of even numbers",l2)
create_2list([20,21,22,23,24,25,26,27,28,29,30])

List of odd numbers [21, 23, 25, 27, 29]
List of even numbers [20, 22, 24, 26, 28, 30]

**58. Write a program to merge 2 list without using the + operator**

In [59]:
def merge_list(l1,l2):
  new_list = list(set(l1).union(set(l2)))
  return new_list
merge_list([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

**59. .Write a program to replace an item with a different item if found in the
list**

In [60]:
def replacement(in_list,replace_char,new_char):
  for i in range(len(in_list)):
    if in_list[i]==replace_char:
      in_list[i]=new_char
  return in_list
replacement([1,2,3,4,5,0],0,'@')

[1, 2, 3, 4, 5, '@']

**60. .Write a program that can convert a 2D list to 1D listWrite a program that
can print**

In [61]:
def twoDlist_to_oneDlist(in_list):
  new_list = []
  for i in in_list:
    new_list.extend(i)
  return new_list
twoDlist_to_oneDlist([[1,2,3],['a','b','c'],['!','@','%','#','&']])

[1, 2, 3, 'a', 'b', 'c', '!', '@', '%', '#', '&']

**61. . Write a program that can perform union and intersection on 2 given list**

In [62]:
def union_or_inter(l1,l2):
  union_list = list(set(l1).union(set(l2)))
  inter_list = list(set(l1).intersection(set(l2)))
  print(union_list)
  print(inter_list)
union_or_inter([1,2,3,4],[3,4,5,6,7])

[1, 2, 3, 4, 5, 6, 7]
[3, 4]

**62.The max item of each row of a matrix**

In [81]:
def max_items_in_rows(matrix):
    max_items = []
    for row in matrix:
        max_item = max(row)
        max_items.append(max_item)
    return max_items

**63. Write a program that can convert an integer to string.**

In [65]:
def int_to_string(number):
    string_number = str(number)
    return string_number

# Example usage
my_integer = 123
my_string = int_to_string(my_integer)
print(my_string)

123

**64. Write a program to print the shape of a matrix**

In [66]:
def print_matrix_shape(matrix):
    rows = len(matrix)
    columns = len(matrix[0]) if matrix else 0
    print("Matrix Shape: {} x {}".format(rows, columns))

# Example usage
my_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print_matrix_shape(my_matrix)

Matrix Shape: 3 x 3

**65Write a program that can check if you can perform matrix
multiplication on 2 matrices**

In [67]:
def can_multiply_matrices(matrix1, matrix2):
    columns_matrix1 = len(matrix1[0])
    rows_matrix2 = len(matrix2)
    
    if columns_matrix1 == rows_matrix2:
        return True
    else:
        return False

# Example usage
matrix1 = [
    [1, 2],
    [3, 4],
    [5, 6]
]

matrix2 = [
    [7, 8, 9],
    [10, 11, 12]
]

if can_multiply_matrices(matrix1, matrix2):
    print("Matrix multiplication can be performed.")
else:
    print("Matrix multiplication cannot be performed.")

Matrix multiplication can be performed.

**66.Write a program to perform matrix multiplication on 2 matrices**

In [68]:
def matrix_multiplication(matrix1, matrix2):
    rows_matrix1 = len(matrix1)
    columns_matrix1 = len(matrix1[0])
    rows_matrix2 = len(matrix2)
    columns_matrix2 = len(matrix2[0])

    if columns_matrix1 != rows_matrix2:
        raise ValueError("Invalid matrices. Number of columns in matrix1 must be equal to the number of rows in matrix2.")

    result_matrix = [[0] * columns_matrix2 for _ in range(rows_matrix1)]

    for i in range(rows_matrix1):
        for j in range(columns_matrix2):
            for k in range(columns_matrix1):
                result_matrix[i][j] += matrix1[i][k] * matrix2[k][j]

    return result_matrix

# Example usage
matrix1 = [
    [1, 2],
    [3, 4],
    [5, 6]
]

matrix2 = [
    [7, 8, 9],
    [10, 11, 12]
]

result = matrix_multiplication(matrix1, matrix2)
for row in result:
    print(row)

[27, 30, 33]
[61, 68, 75]
[95, 106, 117]

**67. Write a program that can sort a given unsorted list. Dont use any built in
function for sorting.**

In [69]:
def selection_sort(unsorted_list):
    for i in range(len(unsorted_list)):
        min_index = i
        for j in range(i + 1, len(unsorted_list)):
            if unsorted_list[j] < unsorted_list[min_index]:
                min_index = j
        unsorted_list[i], unsorted_list[min_index] = unsorted_list[min_index], unsorted_list[i]
    return unsorted_list

# Example usage
my_list = [9, 5, 2, 8, 1, 7]
sorted_list = selection_sort(my_list)
print(sorted_list)

[1, 2, 5, 7, 8, 9]

**68. .Assume a list with numbers from 1 to 10 and then convert it into a
dictionary where the key would be the numbers of the list and the
values would be the square of those numbers**

In [70]:

d = {i:i*i for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**69.Write a program to merge two given dictionary**

In [71]:
def create_merge_dict(dict1,dict2):
  merged_dict = dict1.copy()
  merged_dict.update(dict2)
  return merged_dict
create_merge_dict({'k1':1,'k2':2,'k3':3},{'l1':[1,2,3],'l2':[4,5,6]})

{'k1': 1, 'k2': 2, 'k3': 3, 'l1': [1, 2, 3], 'l2': [4, 5, 6]}

**70.  Write a program to swap the key value pair for max and min values**

Eg if the dict is like this {‘a’:1,’b’:2,’c’:3}
Output should be {a:3,b:2,c:1}

In [72]:
def swap_min_max(dict1):
  max_val = max(dict1.values())
  min_val = min(dict1.values())

  ## find the key of min&max values
  max_key = next(key for key,val in dict1.items() if val==max_val)
  min_key = next(key for key,val in dict1.items() if val==min_val)

  ##swap the key
  dict1[max_key] = min_val
  dict1[min_key] = max_val

  return dict1
swap_min_max({'k1':1,'k2':2,'k3':3,'k4':4,'k5':5})

TypeError: ignored

**71. Write a program to find histogram of a given set of numbers. Take bin
size from user. Print the result in the form of a dictionary.**

In [73]:
def calculate_histogram(numbers, bin_size):
    histogram = {}
    for num in numbers:
        bin_number = num // bin_size
        if bin_number in histogram:
            histogram[bin_number] += 1
        else:
            histogram[bin_number] = 1
    return histogram

# Read input from the user
numbers = input("Enter a set of numbers (space-separated): ").split()
numbers = [float(num) for num in numbers]

bin_size = float(input("Enter the bin size: "))

# Calculate the histogram
histogram = calculate_histogram(numbers, bin_size)

# Print the histogram as a dictionary
print("Histogram:")
print(histogram)

Enter a set of numbers (space-separated): 4 6 7 9 2
Enter the bin size: 10
Histogram:
{0.0: 5}

**72. .Write a function that accepts a string and returns the number of upper
case chars and lower case chars as a dictionary**

In [74]:
def num_upper_lower(in_str):
  l1 = [ i for i in in_str if i.isupper()==True]
  l2 = [i for i in in_str if i.islower()==True]
  d = {'upper_case':len(l1),'lower_case':len(l2)}
  print(d)
num_upper_lower('XYbhuj')

{'upper_case': 2, 'lower_case': 4}

**73.Write a function that accepts a list of strings and performs Bag of words
and convert it to numerical vectorst**

In [75]:
from sklearn.feature_extraction.text import CountVectorizer

def convert_to_numerical_vectors(string_list):
    vectorizer = CountVectorizer()
    vectors = vectorizer.fit_transform(string_list).toarray()
    return vectors

# Example usage
string_list = ["I love coding", "Python is great", "Machine learning is fascinating"]
numerical_vectors = convert_to_numerical_vectors(string_list)
print(numerical_vectors)

[[1 0 0 0 0 1 0 0]
 [0 0 1 1 0 0 0 1]
 [0 1 0 1 1 0 1 0]]

**74.Write a program that accepts neighbors(set of 2D co-ordinates) and a
point(single 2D co-ordinate) and tells nearest neighbor(in terms of
euclidean distance)**

In [76]:
import math

def calculate_distance(p1, p2):
    return math.sqrt((p2[0] - p1[0])**2 + (p2[1] - p1[1])**2)

def find_nearest_neighbor(neighbors, point):
    nearest_neighbor = None
    min_distance = float('inf')

    for neighbor in neighbors:
        distance = calculate_distance(neighbor, point)
        if distance < min_distance:
            min_distance = distance
            nearest_neighbor = neighbor

    return nearest_neighbor

# Example usage
neighbors = [(1, 2), (3, 4), (5, 6), (7, 8)]
point = (9, 10)

nearest_neighbor = find_nearest_neighbor(neighbors, point)
print("Nearest neighbor:", nearest_neighbor)

Nearest neighbor: (7, 8)

**75.Write a function that accepts a number and returns it’s factorial. You
can not use any loop**

In [77]:
def fact(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*fact(n-1)
result = fact(4)
print("Factorial :",result)

Factorial : 24